body{
    background-color: lightseagreen;
}
.part1 h1{

text-align: center;

}
.Mid {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 500px;
    
    margin-left: 500px;
}

.Mid button{
    height: 80px;
    width: 400px;
    background-color: lightslategray;
    text-align: center;
    border-radius: 20px;
    color: linen;
    
}

button:hover {
    background-color: lightsteelblue;
  }